@using System;
@using System.Linq;
@using  Comandante;
@using  Comandante.Services;

@if (Model.FieldInfo.FieldType == typeof(string) || Model.FieldInfo.FieldType.IsNumericType())
{
    <input name="@Model.Name" value="@Value" />
}

@if (Model.FieldInfo.FieldType == typeof(bool) || Model.FieldInfo.FieldType == typeof(bool?))
{
    <select name="@Model.Name">
        <option value="">Not specofied</option>
        <option value="true">True</option>
        <option value="false">False</option>
    </select>
}

@if (Model.FieldInfo.FieldType == typeof(DateTime) || Model.FieldInfo.FieldType == typeof(DateTime?) || Model.FieldInfo.FieldType == typeof(DateTimeOffset) || Model.FieldInfo.FieldType == typeof(DateTimeOffset?))
{
    <input name="@Model.Name" value="@Value" type="datetime-local" />
}