@using System;
@using System.Linq;
@using System.Collections.Generic;
@using  Comandante;
@using  Comandante.Services;
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Comandante</title>
    @RenderResource("styles.css")
</head>
<body>
    <div class="nav">
        <a class="nav-link nav-brand" href="@Url.Link("", new { })">
            <span style="font-size:30px;">&#9734;</span><span style="display:inline-block;margin-left:-2px">Comandante</span>
        </a>
        <a class="nav-link @(ViewName == "Index" ? " active" : "")" href="@Url.Link("", new { })">Home</a>
        <a class="nav-link @(ViewName == "Requests" || ViewName == "Request" || ViewName == "Logs" || ViewName == "Log" || ViewName == "Monitoring" ? " active" : "")" href="@Url.Link("/Requests", new { })">Monitoring</a>
        <a class="nav-link @(ViewName == "Hosting" || ViewName == "Routing" || ViewName == "Services" ? " active" : "")" href="@Url.Link("/Hosting", new { })">MVC</a>
        <a class="nav-link @(ViewName == "EntityFrameworkCore" ? " active" : "")" href="@Url.Link("/EF", new { })">EntityFramework</a>
    </div>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
</body>
</html>
