@using System;
@using System.Linq;
@using  Comandante;
@using  Comandante.Services;
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Comandante</title>
    @RenderResource("styles.css")
</head>
<body>
    <div class="nav">
        <a class="nav-link nav-brand" href="/debug">
	   <span style="font-size:30px;">&#9734;</span><span style="display:inline-block;margin-left:-2px">Comandante</span>
        </a>
        <a class="nav-link @(ViewName == "Index" ? "active" : "")" href="/debug">Home</a>
        <a class="nav-link @(ViewName == "Logs" || ViewName == "Log" ? "active" : "")" href="/debug/Logs">Logs</a>
        <a class="nav-link @(ViewName == "Requests" || ViewName == "Request" ? "active" : "")" href="/debug/Requests">Requests</a>
        <a class="nav-link @(ViewName == "Hosting" ? "active" : "")" href="/debug/Hosting">Hosting</a>
        <a class="nav-link @(ViewName == "Routing" ? "active" : "")" href="/debug/Routing">Routing</a>
        <a class="nav-link @(ViewName == "EntityFrameworkCore" ? "active" : "")" href="/debug/EntityFrameworkCore">EntityFrameworkCore</a>
    </div>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
</body>
</html>
