<ul class="breadcrumb">
    <li>EntityFramework</li>
</ul>


@foreach (var appDbContext in Model.AppDbContexts)
{
    <h3 style="margin-bottom: 10px;">@appDbContext?.Name</h3>
    <div>
        <a class="button small" href="@Url.Link("/EFContext", new { _dbContext = appDbContext?.Name })">Details</a>
        <a class="button small" href="@Url.Link("/EFRunSql", new { _dbContext = appDbContext?.Name })">Run Sql</a>
        <table style="margin-top: 20px;">
            <thead class="small">
                <tr>
                    <td>ClrType</td>
                    <td>DbTable</td>
                </tr>
            </thead>
            <tbody>
                @foreach (var entity in appDbContext.Entities)
                {
                    <tr>
                        <td>
                            <a href="@Url.Link("/EFEntity", new { _dbContext = appDbContext?.Name, _entity = entity.ClrTypeName })">
                                <span class="text-muted">@(entity.ClrType.Namespace + ".")</span>@(entity.ClrType.GetFriendlyName())
                            </a>
                        </td>
                        <td>
                            <a href="@Url.Link("/EFEntity", new { _dbContext = appDbContext?.Name, _entity = entity.ClrTypeName })">
                                @(entity.SchemaAndTableName)
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <br />
    <br />
    <br />
}
