<ul class="breadcrumb">
    <li><a href="/debug/EF">EntityFramework</a></li>
    <li><a href="/debug/EFContext?_dbContext=@(Model.DbContext)"><span class="small text-muted">DbContext: </span>@(Model.DbContext)</a></li>
    <li><a href="/debug/EFEntity?_dbContext=@(Model.DbContext)&_entity=@(Model.EntityName)"><span class="small text-muted">Entity: </span>@Model.EntityNamePart2</a></li>
    <li>@(Model.IsUpdate ? "Update" : "Create")</li>
</ul>

<form autocomplete="off" method="post">
    <input name="_dbContext" value="@Model.DbContext" type="hidden" />
    <input name="_entity" value="@Model.Entity?.ClrTypeName" type="hidden" />
    <table class="form">
        @foreach (var field in @Model.FieldsWithValues)
        {
            <tr>
                <td>@field.Field.Name</td>
                <td>@RenderPartialView("_FieldEditor", @field)</td>
            </tr>
        }
    </table>
    <br />
    @if (Model.Errors != null && Model.Errors.Count > 0)
    {
        <div class="errors">Please check the following errors:</div>
        <ul class="errors">
            @foreach (var error in Model.Errors)
            {
                <li>@error</li>
            }
        </ul>
    }
    <button name="_submit">Save Changes</button>
</form>
<br />
<br />
<a href="/debug/EFEntity?_dbContext=@(Model.DbContext)&_entity=@(Model.Entity.ClrTypeName)">
    Go To Entity
</a>