<h2>Entity Framework Core - Entity - @(Model.IsUpdate ? "Update" : "Create")</h2>

<h3>@Model.Entity?.ClrTypeName</h3>

<form autocomplete="off" method="post">
    <input name="_dbContext" value="@Model.DbContext" type="hidden" />
    <input name="_entity" value="@Model.Entity?.ClrTypeName" type="hidden" />
    <table class="form">
        @foreach (var field in @Model.FieldsWithValues)
        {
            <tr>
                <td>@field.Field.Name</td>
                <td>@RenderPartialView("_FieldEditor", @field)</td>
            </tr>
        }
    </table>
    <br />
    <div class="text-danger">@Model.Error</div>
    <button name="_submit">Save Changes</button>
</form>
<br />
<br />
<a href="/debug/EFEntity?_dbContext=@(Model.DbContext)&_entity=@(Model.Entity.ClrTypeName)">
    Go To Entity
</a>