<h2>Entity Framework Core - Entity Editor</h2>

<h3>@Model.Entity?.ClrTypeName</h3>

<form autocomplete="off" method="post">
    <input name="_dbContext" value="@Model.AppDbContext" type="hidden" />
    <input name="_entity" value="@Model.Entity?.ClrTypeName" type="hidden" />
    <table class="form">
        @foreach (var field in @Model.FieldsWithValues)
        {
            <tr>
                <td>@field.Field.Name</td>
                <td>@RenderPartialView("_FieldEditor", @field)</td>
            </tr>
        }
    </table>
    <button name="_submit">Submit</button>
</form>