<h2>MVC</h2>

<div class="tab-buttons">
    <a href="/debug/Hosting" class="tab-button active">HOSTING</a>
    <a href="/debug/Routing" class="tab-button">ROUTING</a>
    <a href="/debug/Services" class="tab-button">SERVICES</a>
</div>

<table class="form">
        <tr>
            <td>CommandLine</td>
            <td>@Model.Environment.CommandLine</td>
        </tr>
        <tr>
            <td class="align-top">CommandLineArgs</td>
            <td>
                @foreach (var arg in Model.Environment.CommandLineArgs)
                {
                    <div>@arg</div>
                }
            </td>
        </tr>

        <tr>
            <td>MachineName</td>
            <td>@Model.Environment.MachineName</td>
        </tr>
        <tr>
            <td>OSVersion</td>
            <td>@Model.Environment.OSVersion</td>
        </tr>
        <tr>
            <td>ProcessorCount</td>
            <td>@Model.Environment.ProcessorCount</td>
        </tr>
        <tr>
            <td>WorkingSet</td>
            <td>@Model.Environment.WorkingSet</td>
        </tr>
        <tr>
            <td>Version</td>
            <td>@Model.Environment.Version</td>
        </tr>
        <tr>
            <td>SystemDirectory</td>
            <td>@Model.Environment.SystemDirectory</td>
        </tr>
        <tr>
            <td>SystemPageSize</td>
            <td>@Model.Environment.SystemPageSize</td>
        </tr>
        <tr>
            <td>UserName</td>
            <td>@Model.Environment.UserName</td>
        </tr>
        <tr>
            <td>UserInteractive</td>
            <td>@Model.Environment.UserInteractive</td>
        </tr>
        <tr>
            <td>UserDomainName</td>
            <td>@Model.Environment.UserDomainName</td>
        </tr>
        <tr>
            <td>CurrentDirectory</td>
            <td>@Model.Environment.CurrentDirectory</td>
        </tr>
        <tr>
            <td>Is64BitProcess</td>
            <td>@Model.Environment.Is64BitProcess</td>
        </tr>
        <tr>
            <td>Is64BitOperatingSystem</td>
            <td>@Model.Environment.Is64BitOperatingSystem</td>
        </tr>

    </table>

<h3>Environment Variables</h3>
<table class="form">
@foreach (var item in @Model.Environment.EnvironmentVariables)
{
    <tr>
        <td class="text-nowrap">@item.Key</td>
        <td>@item.Value</td>
    </tr>

}
</table>

<h3>Process</h3>
<table class="form">
    <tr>
        <td>Id</td>
        <td>@Model.Process.Id</td>
    </tr>
    <tr>
        <td>BasePriority</td>
        <td>@Model.Process.BasePriority</td>
    </tr>
    <tr>
        <td>MachineName</td>
        <td>@Model.Process.MachineName</td>
    </tr>
    <tr>
        <td>MainModuleFileName</td>
        <td>@Model.Process.MainModuleFileName</td>
    </tr>

    <tr>
        <td>MainModuleFileVersionInfo</td>
        <td>@Model.Process.MainModuleFileVersionInfo</td>
    </tr>
    <tr>
        <td>MainModuleModuleName</td>
        <td>@Model.Process.MainModuleModuleName</td>
    </tr>
    <tr>
        <td>MainModuleModuleMemorySize</td>
        <td>@Model.Process.MainModuleModuleMemorySize</td>
    </tr>
    <tr>
        <td>ThreadsCount</td>
        <td>@Model.Process.ThreadsCount</td>
    </tr>
    <tr>
        <td>StartTime</td>
        <td>@Model.Process.StartTime</td>
    </tr>
    <tr>
        <td>TotalProcessorTime</td>
        <td>@Model.Process.TotalProcessorTime</td>
    </tr>
    <tr>
        <td>UserProcessorTime</td>
        <td>@Model.Process.UserProcessorTime</td>
    </tr>
    <tr>
        <td>PrivilegedProcessorTime</td>
        <td>@Model.Process.PrivilegedProcessorTime</td>
    </tr>
    <tr>
        <td>VirtualMemorySize</td>
        <td>@Model.Process.VirtualMemorySize</td>
    </tr>
    <tr>
        <td>VirtualMemorySize64</td>
        <td>@Model.Process.VirtualMemorySize64</td>
    </tr>
    <tr>
        <td>PeakVirtualMemorySize</td>
        <td>@Model.Process.PeakVirtualMemorySize</td>
    </tr>
    <tr>
        <td>PeakVirtualMemorySize64</td>
        <td>@Model.Process.PeakVirtualMemorySize64</td>
    </tr>
    <tr>
        <td>PrivateMemorySize</td>
        <td>@Model.Process.PrivateMemorySize</td>
    </tr>
    <tr>
        <td>PrivateMemorySize64</td>
        <td>@Model.Process.PrivateMemorySize64</td>
    </tr>
    <tr>
        <td>PagedMemorySize</td>
        <td>@Model.Process.PagedMemorySize</td>
    </tr>
    <tr>
        <td>PagedMemorySize64</td>
        <td>@Model.Process.PagedMemorySize64</td>
    </tr>
    <tr>
        <td>PeakPagedMemorySize</td>
        <td>@Model.Process.PeakPagedMemorySize</td>
    </tr>
    <tr>
        <td>PagedSystemMemorySize64</td>
        <td>@Model.Process.PagedSystemMemorySize64</td>
    </tr>
    <tr>
        <td>PagedSystemMemorySize</td>
        <td>@Model.Process.PagedSystemMemorySize</td>
    </tr>
    <tr>
        <td>PagedSystemMemorySize64</td>
        <td>@Model.Process.PagedSystemMemorySize64</td>
    </tr>
    <tr>
        <td>NonpagedSystemMemorySize</td>
        <td>@Model.Process.NonpagedSystemMemorySize</td>
    </tr>
    <tr>
        <td>NonpagedSystemMemorySize64</td>
        <td>@Model.Process.NonpagedSystemMemorySize64</td>
    </tr>
</table>
