<br />
<br />
<div>Monitoring</div>
<div style="margin-left: 10px;"><a href="@Url.Link("/Requests", new { })" class="tab-button">Requests</a></div>
<div style="margin-left: 10px;"><a href="@Url.Link("/Logs", new {})" class="tab-button">Logs</a></div>
<div style="margin-left: 10px;"><a href="@Url.Link("/Monitoring", new {})" class="tab-button">Configuration</a></div>
<br />
<br />
<div>MVC</div>
<div style="margin-left: 10px;"><a href="@Url.Link("/Hosting", new { })" class="tab-button">Hosting</a></div>
<div style="margin-left: 10px;"><a href="@Url.Link("/Routing", new { })" class="tab-button">Routing</a></div>
<div style="margin-left: 10px;"><a href="@Url.Link("/Services", new { })" class="tab-button">Services</a></div>
<br />
<br />
<div>EntityFramework</div>
@foreach (var dbContext in Model.DbContexts)
{
    <div style="margin-left: 10px;"><a href="@Url.Link("/EFContext", new { _dbContext = @dbContext })">@dbContext</a></div>
}
