<h2>Monitoring</h2>

<div class="tab-buttons">
    <a href="@Url.Link("/Requests", new { })" class="tab-button">REQUESTS</a>
    <a href="@Url.Link("/Logs", new { })" class="tab-button active">LOGS</a>
    <a href="@Url.Link("/Monitoring", new { })" class="tab-button">CONFIGURATION</a>
</div>

<table class="form">
    <tr>
        <td>Id</td>
        <td>@Model.Id</td>
    </tr>
    <tr>
        <td>DateTime</td>
        <td>@Model.Log?.Created</td>
    </tr>
    <tr>
        <td>Details</td>
        <td><pre>@Model.Log?.Details</pre></td>
    </tr>
    <tr>
        <td>Exception</td>
        <td><pre>@Model.Log?.Exception</pre></td>
    </tr>
    <tr>
        <td>LoggerName</td>
        <td>@Model.Log?.LoggerName</td>
    </tr>
    <tr>
        <td>EventId</td>
        <td>@Model.Log?.EventId</td>
    </tr>
    <tr>
        <td>IdentityName</td>
        <td>@Model.Log?.IdentityName</td>
    </tr>
    <tr>
        <td>Request</td>
        <td>
            @if (@Model.Log?.TraceIdentifier != null)
            {
                <a href="@Url.Link("/Request", new { TraceIdentifier = Model.Log?.TraceIdentifier })">
                    @(@Model.Log?.RequestUrl)
                </a>
            }
        </td>
    </tr>
</table>



@if (Model.Request != null)
{
    @RenderPartialView("_Request", Model.Request)
}