<ul class="breadcrumb">
    <li>Monitoring<br /></li>
    <li>
        <a href="@Url.Link("/Requests", new { })" class="tab-button">Requests</a>
        <a href="@Url.Link("/Logs", new { })" class="tab-button active">Logs</a>
        <a href="@Url.Link("/Monitoring", new { })" class="tab-button">Configuration</a>
    </li>
</ul>

<h3>Logs List</h3>
<table>
    @foreach (var log in Model.Logs)
    {
        <tr>
            <td>
                <div class="text-nowrap">
                    <a href="@Url.Link("/Log", new { Id = log.Id })">
                        <span>@log.Created.ToString("yyyy-MM-dd")</span><span class="text-muted">T</span><span>@log.Created.ToString("HH:mm:ss")</span><span class="text-muted">@log.Created.ToString("zzz")</span>
                    </a>
                </div>
                <div>@(log.IdentityName != null ? "@" + log.IdentityName : "")</div>
            </td>
            <td>
                <div class="@("text-" + log.LogLevel.ToString().ToLower())">@log.LogLevel</div>
                <div class="text-muted small" title="@log.LoggerName">
                    @log.LoggerName.Split('.').Last()
                </div>
            </td>
            <td>
                <pre>@log.Details</pre>
                @if (log.IsEFExecutedDbCommand)
                {
                    <a class="small visited" href="@Url.Link("/EFRunSql", new { EFExecutedDbCommand = log.Details })">Run SQL</a>
                }
            </td>
            <td>
                <div class="small">
                    @if (log.TraceIdentifier != null)
                    {
                        <a href="@Url.Link("/Request", new { TraceIdentifier = log.TraceIdentifier })">@log.RequestUrl</a>
                    }
                    else
                    {
                        @log.RequestUrl
                    }
                    </div>
            </td>
        </tr>
    }
</table>
