<h2>Monitoring</h2>

<div class="tab-buttons">
    <a href="/debug/Requests" class="tab-button">REQUESTS</a>
    <a href="/debug/Logs" class="tab-button active">LOGS</a>
    <a href="/debug/Monitoring" class="tab-button">CONFIGURATION</a>
</div>

<table>
    @foreach (var log in Model.Logs)
    {
        <tr>
            <td>
                <div class="text-nowrap">
                    <a href="/debug/Log?Id=@(log.Id)">
                        <span>@log.Created.ToString("yyyy-MM-dd")</span><span class="text-muted">T</span><span>@log.Created.ToString("HH:mm:ss")</span><span class="text-muted">@log.Created.ToString("zzz")</span>
                    </a>
                </div>
                <div>@(log.IdentityName != null ? "@" + log.IdentityName : "")</div>
            </td>
            <td>
                <div class="@("text-" + log.LogLevel.ToString().ToLower())">@log.LogLevel</div>
                <div class="text-muted small" title="@log.LoggerName">
                    @log.LoggerName.Split('.').Last()
                </div>
            </td>
            <td>
                <pre>@log.Details</pre>
                @if (log.IsEFExecutedDbCommand)
                {
                    <a class="small visited" href="/debug/EntityFrameworkCoreRunSql?EFExecutedDbCommand=@System.Net.WebUtility.UrlEncode(log.Details)">Run SQL</a>
                }
            </td>
            <td>
                <div class="small">
                    @if (log.TraceIdentifier != null)
                    {
                        <a href="/debug/Request?TraceIdentifier=@(log.TraceIdentifier)">@log.RequestUrl</a>
                    }
                    else
                    {
                        @log.RequestUrl
                    }
                    </div>
            </td>
        </tr>
    }
</table>
