<ul class="breadcrumb">
    <li>Monitoring<br /></li>
    <li>
        <a href="@Url.Link("/Requests", new { })" class="tab-button active">Requests</a>
        <a href="@Url.Link("/Logs", new { })" class="tab-button">Logs</a>
        <a href="@Url.Link("/Monitoring", new { })" class="tab-button">Configuration</a>
    </li>
</ul>

<h3>Requests</h3>
<table>
    @foreach (var request in Model.Requests)
    {
    <tr>
        <td>
            <div class="text-nowrap">
                <a href="@Url.Link("/Request", new { TraceIdentifier = request.TraceIdentifier })">
                    <span>@request.Started.ToString("yyyy-MM-dd")</span><span class="text-muted">T</span><span>@request.Started.ToString("HH:mm:ss")</span><span class="text-muted">@request.Started.ToString("zzz")</span>
                </a>
            </div>
            <div>@(request.IdentityName != null ? "@" + request.IdentityName : "")</div>
        </td>
        <td>
            <div>
                <div class="@(request.IsError ? "text-error" : "")">@request.Response?.StatusCode</div>
                <div class="@("text-" + request.MaxLogLevel.ToString().ToLower())">@request.MaxLogLevel</div>
            </div>
        </td>
        <td>
            <a href="@Url.Link("/Request", new { TraceIdentifier = request.TraceIdentifier })">
                @request.Request.Method @request.Request.Path
            </a>
        </td>
        <td>
            <pre>@request.MaxLogDetails</pre>
        </td>
    </tr>
    }
</table>
