<h2>Monitoring</h2>

<div class="tab-buttons">
    <a href="@Url.Link("/Requests", new { })" class="tab-button active">REQUESTS</a>
    <a href="@Url.Link("/Logs", new { })" class="tab-button">LOGS</a>
    <a href="@Url.Link("/Monitoring", new { })" class="tab-button">CONFIGURATION</a>
</div>

@if (Model?.Request != null)
{
    @RenderPartialView("_RequestDetails", Model.Request)
}
else
{
    <div class="text-muted">Request not found.</div>
}

<h3>Logs</h3>
@if (Model.Request?.Logs != null && Model.Request.Logs.Count > 0)
{
    <table>
        <tbody>
            @foreach (var log in Model.Request.Logs.OrderBy(x => x.Created))
            {
                <tr>
                    <td>
                        <div class="text-nowrap">
                            <a href="@Url.Link("/Log", new { Id = log.Id })">
                                <span>@log.Created.ToString("yyyy-MM-dd")</span><span class="text-muted">T</span><span>@log.Created.ToString("HH:mm:ss")</span><span class="text-muted">@log.Created.ToString("zzz")</span>
                            </a>
                        </div>
                        <div>@(log.IdentityName != null ? "@" + log.IdentityName : "")</div>
                    </td>
                    <td>
                        <div class="@("text-" + log.LogLevel.ToString().ToLower())">@log.LogLevel</div>
                        <div class="text-muted small" title="@log.LoggerName">
                            @log.LoggerName.Split('.').Last()
                        </div>
                    </td>
                    <td>
                        <pre>@log.Details</pre>
                        @if (log.IsEFExecutedDbCommand)
                        {
                            <a class="small visited" href="@Url.Link("/EFRunSql", new { EFExecutedDbCommand = log.Details })">Run SQL</a>
                        }
                    </td>
                    <td style="background-color: #efefef;">
                            <div style="margin-left:@(ToLogTimelineValue(log.Created) + "px" ); width: @(ToLogTimelineValue(log.ExecutionTime) + "px"); height:16px; background-color: #337ab7; )"></div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <div class="text-muted">No logs found.</div>
}

@if (Model.Request != null)
{
    @RenderPartialView("_Request", Model.Request)
}