<h2>MVC</h2>

<div class="tab-buttons">
    <a href="/debug/Hosting" class="tab-button">HOSTING</a>
    <a href="/debug/Routing" class="tab-button active">ROUTING</a>
    <a href="/debug/Services" class="tab-button">SERVICES</a>
</div>

@if (Model.Routes != null)
{
    <table>
        <thead class="small">
            <tr>
                <th>Route Template</th>
                <th>Controller</th>
                <th>Action</th>
                <th>Constraints/Verbs</th>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var route in Model.Routes)
            {

                <tr>
                    <td>@route.Template</td>
                    <td>@route.Controller</td>
                    <td>@route.Action</td>
                    <td>@route.Constraint</td>
                    <td>@route.Name</td>
                </tr>

            }
        </tbody>
    </table>
}
else
{
    <div>Sorry, cannot get service IActionDescriptorCollectionProvider, that provides routing information.</div>
}


