<ul class="breadcrumb">
    <li>MVC<br /></li>
    <li>
        <a href="@Url.Link("/Hosting", new { })" class="tab-button">Hosting</a>
        <a href="@Url.Link("/Routing", new { })" class="tab-button active">Routing</a>
        <a href="@Url.Link("/Services", new { })" class="tab-button">Services</a>
        <a href="@Url.Link("/Options", new { })" class="tab-button">Options</a>
    </li>
</ul>


<h3>Routing</h3>
@if (Model.Routes != null)
{
    <table>
        <thead class="small">
            <tr>
                <th>Route Template</th>
                <th>Controller</th>
                <th>Action</th>
                <th>Constraints/Verbs</th>
                <th>Name</th>
                <th>Parameters</th>
                <th>RouteValues</th>

            </tr>
        </thead>
        <tbody>
            @foreach (var route in Model.Routes)
            {

                <tr>
                    <td>@route.Template</td>
                    <td>@route.Controller</td>
                    <td>@route.Action</td>
                    <td>@route.Constraint</td>
                    <td>@route.Name</td>
                    <td>@route.Parameters</td>
                    <td>@route.RouteValues</td>
                </tr>

            }
        </tbody>
    </table>
}
else
{
    <div>Sorry, cannot get service IActionDescriptorCollectionProvider, that provides routing information.</div>
}


