<ul class="breadcrumb">
    <li>MVC<br /></li>
    <li>
        <a href="@Url.Link("/Hosting", new { })" class="tab-button">Hosting</a>
        <a href="@Url.Link("/Routing", new { })" class="tab-button">Routing</a>
        <a href="@Url.Link("/Services", new { })" class="tab-button active">Services</a>
    </li>
</ul>

<h3>Services</h3>
@if (Model.Services != null)
{
    <table>
        <thead class="small">
            <tr>
                <th>ServiceType</th>
                <th>Lifetime</th>
                <th>ImplementationType</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var s in Model.Services)
            {

                <tr>
                    <td><a href="@Url.Link("/Service", new { _s = s.ServiceFullName })">@s.ServiceFriendlyName</a></td>
                    <td>@s.Lifetime</td>
                    <td>@s.ImplementationFriendlyName</td>
                </tr>

            }
        </tbody>
    </table>
}
else
{
    <div>Sorry, cannot find services. Make sure you call AddComandante method in ConfigureServices</div>
    <pre>
        public void ConfigureServices(IServiceCollection services)
        {
            services.AddComandante();
            ...
        }
    </pre>
}


