<ul class="breadcrumb">
    <li>MVC<br /></li>
    <li>
        <a href="@Url.Link("/Hosting", new { })" class="tab-button">Hosting</a>
        <a href="@Url.Link("/Routing", new { })" class="tab-button">Routing</a>
        <a href="@Url.Link("/Services", new { })" class="tab-button active">Services</a>
        <a href="@Url.Link("/Options", new { })" class="tab-button">Options</a>
        <br />
    </li>
    <li><span class="small text-muted">Service: </span>@Model.Service.ServiceFriendlyName</li>
</ul>

@if (Model.Service != null)
{
    <h3>Service Details</h3>
    <table class="form">
        <tr>
            <td>ServiceType</td>
            <td><span class="text-muted">@(Model.Service.ServiceType.Namespace != null ? Model.Service.ServiceType.Namespace + "." : "" )</span>@Model.Service.ServiceFriendlyName</td>
        </tr>
        <tr>
            <td>Lifetime</td>
            <td>@Model.Service.Lifetime</td>
        </tr>
        <tr>
            <td>ImplementationType</td>
            <td><span class="text-muted">@(Model.Service.ImplementationType?.Namespace != null ? Model.Service.ImplementationType.Namespace + "." : "" )</span>@Model.Service.ImplementationFriendlyName</td>
        </tr>
    </table>

    <h3>Methods</h3>
    <table>
        @foreach (var m in Model.Service.Methods)
        {

            <tr>
                <td>
                    <a href="@(Url.Link("/ServiceMethod", new { _s = @Model.Service.ServiceFullName, _m = m.Id }))">
                        <span class="text-muted">@m.MethodAccessor </span><span class="text-muted">@m.MethodReturnType </span>@m.MethodName<span class="text-muted">@m.MethodParameters</span>
                    </a>
                </td>
            </tr>
        }
    </table>

    <h3>Properties</h3>
    <table>
        @foreach (var p in Model.Service.Properties)
        {
            <tr>
                <td>
                    <a href="@(Url.Link("/ServiceProperty", new { _s = @Model.Service.ServiceFullName, _p = p.Id }))">
                        <span class="text-muted">@p.PropertyType </span>@p.Name<span class="text-muted"> @p.GetSet</span>
                    </a>
                </td>
            </tr>
        }
    </table>

    <h3>Fields</h3>
    <table>
        @foreach (var f in Model.Service.Fields)
        {

            <tr>
                <td>
                    <a href="@(Url.Link("/ServiceField", new { _s = @Model.Service.ServiceFullName, _f = f.Id }))">
                        <span class="text-muted">@f.Accessor </span><span class="text-muted">@f.FieldType </span>@f.Name
                    </a>
                </td>
            </tr>

        }
    </table>
}
