<ul class="breadcrumb">
    <li>MVC<br /></li>
    <li>
        <a href="@Url.Link("/Hosting", new { })" class="tab-button">Hosting</a>
        <a href="@Url.Link("/Routing", new { })" class="tab-button">Routing</a>
        <a href="@Url.Link("/Services", new { })" class="tab-button active">Services</a>
        <a href="@Url.Link("/Options", new { })" class="tab-button">Options</a>
        <br />
    </li>
    <li><a href="@Url.Link("/Service", new { _s = Model.Service.ServiceFullName })"><span class="small text-muted">Service: </span>@Model.Service.ServiceFriendlyName</a><br /></li>
    <li><span class="small text-muted">Field: </span>@Model.Field.Name<br /></li>
</ul>

<h3>Service Field</h3>
<span class="text-muted">@Model.Field.Accessor </span><span class="text-muted">@Model.Field.FieldType </span>@Model.Field.Name

<form autocomplete="off" method="post">
    <input name="_f" value="@Model.Field.Id" type="hidden" />
    <input name="_s" value="@Model.Service.ServiceFullName" type="hidden" />
    <br />
    @if (Model.Errors != null && Model.Errors.Count > 0)
    {
        <div class="errors">Please check the following errors:</div>
        <ul class="errors">
            @foreach (var error in Model.Errors)
            {
                <li><pre>@error</pre></li>
            }
        </ul>
    }
    @if (Model.Warnings != null && Model.Warnings.Count > 0)
    {
        <div class="warnings">Please check the following warnings:</div>
        <ul class="warnings">
            @foreach (var warning in Model.Warnings)
            {
                <li><pre>@warning</pre></li>
            }
        </ul>
    }

    <button name="_submit">Invoke Get</button>

    @if (Model.ExecutionResult != null)
    {
        <h3>Result:</h3>
        <div><pre>@Model.ExecutionResult</pre></div>
    }
</form>

