@using System;
@using  Debug4MvcNetCore;
@using  Debug4MvcNetCore.Services;
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Debug4MvcNetCore</title>
    @RenderResource("jquery.min.js")
    @RenderResource("bootstrap.min.css")
    @RenderResource("bootstrap.min.js")
    @RenderResource("styles.css")
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
                <a class="navbar-brand" href="/debug">Debug4MvcNetCore</a>
                <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarMenu" aria-controls="navbarMenu" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse" id="navbarMenu" style="">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link @(ViewName == "Index" ? "active" : "")" href="/debug">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link @(ViewName == "Logs" || ViewName == "Log" ? "active" : "")" href="/debug/Logs">Logs</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link @(ViewName == "Requests" || ViewName == "Request" ? "active" : "")" href="/debug/Requests">Requests</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link @(ViewName == "Hosting" ? "active" : "")" href="/debug/Hosting">Hosting</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link @(ViewName == "Routing" ? "active" : "")" href="/debug/Routing">Routing</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
</body>
</html>
