@using System;
@using System.Linq;
@using  Debug4MvcNetCore;
@using  Debug4MvcNetCore.Services;


<table class="form">
    <tr>
        <td>Request</td>
        <td>@Model?.Request?.Method @(Model?.Request?.Path + Model?.Request?.QueryString)</td>
    </tr>
    <tr>
        <td>IdentityName</td>
        <td>@Model?.IdentityName</td>
    </tr>

    <tr>
        <td>Started</td>
        <td>
            @if (Model.Started != null)
            {
                <span>@Model.Started.ToString("yyyy-MM-dd")</span><span class="text-muted">T</span><span>@Model.Started.ToString("HH:mm:ss")</span><span class="text-muted">@Model.Started.ToString("zzz")</span>
            }
        </td>
    </tr>
    <tr>
        <td>ExecutionTime</td>
        <td>
            @Model.ExecutionTime.ToHumanString()
        </td>
    </tr>
    <tr>
        <td>StatusCode</td>
        <td><div class="@((Model != null && Model.IsError) ? "text-error" : "")">@Model.Response.StatusCode</div></td>
    </tr>
    <tr>
        <td>MaxLogLevel</td>
        <td><div class="@("text-" + Model.MaxLogLevel.ToString().ToLower())">@Model.MaxLogLevel</div></td>
    </tr>
    <tr>
        <td>Host</td>
        <td>@Model?.Request?.Host</td>
    </tr>
    <tr>
        <td>PathBase</td>
        <td>@Model?.Request?.PathBase</td>
    </tr>
    <tr>
        <td>TraceIdentifier</td>
        <td>@Model?.TraceIdentifier</td>
    </tr>

</table>
