<div class="row">
    <div class="col-md-12">
        <h2 class="mt-5 mb-3">Logs</h2>
        <table class="table-sm">
            <thead  class="small">
                <tr>
                    <th>Log</th>
                    <th>LogLevel</th>
                    <th>Details</th>
                    <th>Request</th>
                    <th>IdentityName</th>
                    <th>LoggerName</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var log in Model.Logs)
                {
                <tr>
                    <td class="text-nowrap"><a href="/debug/Log?Id=@(log.Id)">@log.Created.ToString("yyyy-MM-ddTHH:mm:sszzz")</a></td>
                    <td class="text-nowrap">@log.LogLevel</td>
                    <td>@log.Details</td>
                    <td>
                        @if (log.TraceIdentifier != null)
                        {
                            <br /><a href="/debug/Request?TraceIdentifier=@(log.TraceIdentifier)">@log.RequestUrl</a>
                        }
                        else
                        {
                            @log.RequestUrl
                        }
                    </td>
                    <td>@log.IdentityName</td>
                    <td>@log.LoggerName</td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>