<div class="row">
    <div class="col-md-12">
        <h2 class="mt-5">Logs</h2>
        <table class="table-sm">
            <thead  class="small">
                <tr>
                    <th>DateTime</th>
                    <th>LogLevel</th>
                    <th>Details</th>
                    <th>IdentityName</th>
                    <th>TraceIdentifier</th>
                    <th>LoggerName</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var log in Model.Logs)
                {
                <tr>
                    <td>@log.Created</td>
                    <td>@log.LogLevel</td>
                    <td>@log.Details</td>
                    <td>@log.IdentityName</td>
                    <td class="text-nowrap">
                        @if (log.TraceIdentifier != null)
                        {
                            <a href="/debug/Request?TraceIdentifier=@(log.TraceIdentifier)">@log.TraceIdentifier</a>
                        }
                    </td>
                    <td>@log.LoggerName</td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>