<div class="row">
    <div class="col-md-12">
        <h2 class="mt-5">Logs</h2>
        <table class="table-sm">
            <thead>
                <tr>
                    <th class="small">LoggerName</th>
                    <th class="small">EventId</th>
                    <th class="small">LogLevel</th>
                    <th class="small">Details</th>
                    <th class="small">IdentityName</th>
                    <th class="small">TraceIdentifier</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var log in Model.Logs)
                {
                    <tr>
                        <td>@log.LoggerName</td>
                        <td>@log.EventId</td>
                        <td>@log.LogLevel</td>
                        <td>@log.Details</td>
                        <td>@log.IdentityName</td>
                        <td>@log.TraceIdentifier</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h2 class="mt-5">Request</h2>
        <table class="table-sm">
            <tr>
                <td>TraceIdentifier</td>
                <td>@Model.DebugInfo.TraceIdentifier</td>
            </tr>
            <tr>
                <td>Host</td>
                <td>@Model.DebugInfo.RequestHost</td>
            </tr>
            <tr>
                <td>Method</td>
                <td>@Model.DebugInfo.RequestMethod</td>
            </tr>
            <tr>
                <td>Scheme</td>
                <td>@Model.DebugInfo.RequestScheme</td>
            </tr>
            <tr>
                <td>Protocol</td>
                <td>@Model.DebugInfo.RequestProtocol</td>
            </tr>
            <tr>
                <td>Path</td>
                <td>@Model.DebugInfo.RequestPath</td>
            </tr>
            <tr>
                <td>PathBase</td>
                <td>@Model.DebugInfo.RequestPathBase</td>
            </tr>
        </table>

        <h2 class="mt-5">Request.Headers</h2>
        <table class="table-sm">
            <thead class="small">
                <tr>
                    <th>Name</th>
                    <th>Value</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var header in @Model.DebugInfo.RequestHeaders)
                {
                    <tr>
                        <td class="text-nowrap">@header.Key</td>
                        <td>@System.String.Join(", ", @header.Value)</td>
                    </tr>

                }
            </tbody>
        </table>

        <h2 class="mt-5">Request.Cookies</h2>
        <table class="table-sm">
            <thead class="small">
                <tr>
                    <th>Name</th>
                    <th>Value</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var cookie in @Model.DebugInfo.RequestCookies)
                {
                    <tr>
                        <td class="text-nowrap">@cookie.Key</td>
                        <td>@cookie.Value</td>
                    </tr>

                }
            </tbody>
        </table>

        <h2 class="mt-5">Request.QueryString</h2>
        @Model.DebugInfo.RequestQueryString

        <h2 class="mt-5">Request.Form</h2>
        <table class="table-sm">
            <thead class="small">
                <tr>
                    <th>Name</th>
                    <th>Value</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var formItem in @Model.DebugInfo.RequestForm)
                {
                    <tr>
                        <td class="text-nowrap">@formItem.Key</td>
                        <td>@System.String.Join(", ", formItem.Value)</td>
                    </tr>

                }
            </tbody>
        </table>

        <h2 class="mt-5">DateTime</h2>
        <table class="table-sm">
            <tr>
                <td>Now</td>
                <td>@Model.DebugInfo.DateTime.Now</td>
            </tr>
            <tr>
                <td>NowUtc</td>
                <td>@Model.DebugInfo.DateTime.NowUtc</td>
            </tr>
        </table>

        <h2 class="mt-5">TimeZoneInfo.Local</h2>
        <table class="table-sm">
            <tr>
                <td>Id</td>
                <td>@Model.DebugInfo.LocalTimeZone.Id</td>
            </tr>
            <tr>
                <td>DisplayName</td>
                <td>@Model.DebugInfo.LocalTimeZone.DisplayName</td>
            </tr>
            <tr>
                <td>StandardName</td>
                <td>@Model.DebugInfo.LocalTimeZone.StandardName</td>
            </tr>
            <tr>
                <td>NowUtcOffset</td>
                <td>@Model.DebugInfo.LocalTimeZone.NowUtcOffset</td>
            </tr>
            <tr>
                <td>BaseUtcOffset</td>
                <td>@Model.DebugInfo.LocalTimeZone.BaseUtcOffset</td>
            </tr>
            <tr>
                <td>SupportsDaylightSavingTime</td>
                <td>@Model.DebugInfo.LocalTimeZone.SupportsDaylightSavingTime</td>
            </tr>
        </table>

        <h2 class="mt-5">TimeZoneInfo.Utc</h2>
        <table class="table-sm">
            <tr>
                <td>Id</td>
                <td>@Model.DebugInfo.UtcTimeZone.Id</td>
            </tr>
            <tr>
                <td>DisplayName</td>
                <td>@Model.DebugInfo.UtcTimeZone.DisplayName</td>
            </tr>
            <tr>
                <td>StandardName</td>
                <td>@Model.DebugInfo.UtcTimeZone.StandardName</td>
            </tr>
            <tr>
                <td>NowUtcOffset</td>
                <td>@Model.DebugInfo.UtcTimeZone.NowUtcOffset</td>
            </tr>
            <tr>
                <td>BaseUtcOffset</td>
                <td>@Model.DebugInfo.UtcTimeZone.BaseUtcOffset</td>
            </tr>
            <tr>
                <td>SupportsDaylightSavingTime</td>
                <td>@Model.DebugInfo.UtcTimeZone.SupportsDaylightSavingTime</td>
            </tr>
        </table>

        <h2 class="mt-5">CurrentThread.CultureInfo</h2>
        <table class="table-sm">
            <tr>
                <td>Name</td>
                <td>@Model.DebugInfo.CurrentCulture.Name</td>
            </tr>
            <tr>
                <td>DisplayName</td>
                <td>@Model.DebugInfo.CurrentCulture.DisplayName</td>
            </tr>
            <tr>
                <td>EnglishName</td>
                <td>@Model.DebugInfo.CurrentCulture.EnglishName</td>
            </tr>
            <tr>
                <td>DateTimeFormat</td>
                <td>@Model.DebugInfo.CurrentCulture.DateTimeFormat</td>
            </tr>
        </table>

        <h2 class="mt-5">CurrentThread.UICultureInfo</h2>
        <table class="table-sm">
            <tr>
                <td>Name</td>
                <td>@Model.DebugInfo.CurrentUICulture.Name</td>
            </tr>
            <tr>
                <td>DisplayName</td>
                <td>@Model.DebugInfo.CurrentUICulture.DisplayName</td>
            </tr>
            <tr>
                <td>EnglishName</td>
                <td>@Model.DebugInfo.CurrentUICulture.EnglishName</td>
            </tr>
            <tr>
                <td>DateTimeFormat</td>
                <td>@Model.DebugInfo.CurrentUICulture.DateTimeFormat</td>
            </tr>
        </table>

        <h2 class="mt-5">User.Identities</h2>
        @foreach (var identity in @Model.DebugInfo.Identities)
        {
            <table class="table-sm">
                <tr>
                    <td>Name</td>
                    <td>@identity.Name</td>
                </tr>
                <tr>
                    <td class="pl-4">AuthenticationType</td>
                    <td>@identity.AuthenticationType</td>
                </tr>
                <tr>
                    <td class="pl-4">IsAuthenticated</td>
                    <td>@identity.IsAuthenticated</td>
                </tr>
                <tr>
                    <td class="pl-4">Label</td>
                    <td>@identity.Label</td>
                </tr>
                <tr>
                    <td class="pl-4">Actor</td>
                    <td>@identity.Actor</td>
                </tr>
                <tr>
                    <td class="pl-4">NameClaimType</td>
                    <td>@identity.NameClaimType</td>
                </tr>
                <tr>
                    <td class="pl-4">RoleClaimType</td>
                    <td>@identity.RoleClaimType</td>
                </tr>
                <tr>
                    <td class="pl-4">Claims</td>
                    <td>
                        <table class="table-sm">
                            <thead>
                                <tr>
                                    <th class="small">Subject</th>
                                    <th class="small">Type</th>
                                    <th class="small">Value</th>
                                    <th class="small">ValueType</th>
                                    <th class="small">Issuer</th>
                                    <th class="small">OriginalIssuer</th>
                                    <th class="small">Properties</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var claim in identity.Claims)
                                {
                                    <tr>
                                        <td>@claim.Subject</td>
                                        <td>@claim.Type</td>
                                        <td>@claim.Value</td>
                                        <td>@claim.ValueType</td>
                                        <td>@claim.Issuer</td>
                                        <td>@claim.OriginalIssuer</td>
                                        <td>
                                            @foreach (var prop in claim.Properties)
                                            {
                                                @prop.Key @prop.Value<br />
                                            }
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </td>
                </tr>
            </table>
        }

        <h2 class="mt-5">Connection</h2>
        <table class="table-sm">
            <tr>
                <td>Id</td>
                <td>@Model.DebugInfo.Connection.Id</td>
            </tr>
            <tr>
                <td>LocalIpAddress</td>
                <td>@Model.DebugInfo.Connection.LocalIpAddress</td>
            </tr>
            <tr>
                <td>LocalPort</td>
                <td>@Model.DebugInfo.Connection.LocalPort</td>
            </tr>
            <tr>
                <td>RemoteIpAddress</td>
                <td>@Model.DebugInfo.Connection.RemoteIpAddress</td>
            </tr>
            <tr>
                <td>RemotePort</td>
                <td>@Model.DebugInfo.Connection.RemotePort</td>
            </tr>
            <tr>
                <td>ClientCertificate</td>
                <td>@Model.DebugInfo.Connection.ClientCertificate</td>
            </tr>
        </table>
    </div>
</div>