<h2>Requests</h2>
<table>
    @foreach (var request in Model.Requests)
    {
    <tr>
        <td>
            <div class="text-nowrap">
                <a href="/debug/Request?TraceIdentifier=@(request.TraceIdentifier)">
                    <span>@request.Created.ToString("yyyy-MM-dd")</span><span class="text-muted">T</span><span>@request.Created.ToString("HH:mm:ss")</span><span class="text-muted">@request.Created.ToString("zzz")</span>
                </a>
            </div>
            <div>@(request.Identity?.Name != null ? "@" + request.Identity?.Name : "")</div>
        </td>
        <td>
            <div>
                <div class="@(request.IsError ? "text-error" : "")">@request.Response?.StatusCode</div>
                <div class="@("text-" + request.MaxLogLevel.ToString().ToLower())">@request.MaxLogLevel</div>
            </div>
        </td>
        <td>
            <a href="/debug/Request?TraceIdentifier=@(request.TraceIdentifier)">
                @request.Request.Method @request.Request.Path
            </a>
        </td>
        <td>
            <pre>@request.MaxLogDetails</pre>
        </td>
    </tr>
    }
</table>
