<nav class="nav-breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">Requests</li>
        <li class="breadcrumb-item active">Request Details</li>
    </ol>
</nav>
<div class="row">
    <div class="col-md-12">
        <table class="table-sm">
            <tr>
                <td>TraceIdentifier</td>
                <td>@Model?.TraceIdentifier</td>
            </tr>
            <tr>
                <td>Log</td>
                <td>@Model?.Request?.DateTime?.NowUtc</td>
            </tr>
            <tr>
                <td>Path</td>
                <td>@Model?.Request?.Request?.Method @Model?.Request?.Request?.Path</td>
            </tr>
            <tr>
                <td>StatusCode</td>
                <td>@Model?.Request?.Response.StatusCode</td>
            </tr>
            <tr>
                <td>MaxLogLevel</td>
                <td>@Model?.Request?.MaxLogLevel</td>
            </tr>
        </table>
    </div>
</div>

@if (Model.Request?.Logs != null)
{
<div class="row">
    <div class="col-md-12">
        <h5 class="mt-5">Logs</h5>
        <table class="table-sm">
            <thead class="small">
                <tr>
                    <th>Log</th>
                    <th>LogLevel</th>
                    <th>Details</th>
                    <th>IdentityName</th>
                    <th>LoggerName</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var log in Model.Request.Logs)
                {
                <tr>
                    <td class="text-nowrap"><a href="/debug/Log?Id=@(log.Id)">@log.Created.ToString("yyyy-MM-ddTHH:mm:sszzz")</a></td>
                    <td class="text-nowrap">@log.LogLevel</td>
                    <td>@log.Details</td>
                    <td>@log.IdentityName</td>
                    <td>@log.LoggerName</td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>
}

@if (Model.Request != null)
{
    @RenderPartialView("_Request", Model.Request)
}