<h2>Request</h2>
@if (Model?.Request != null)
{
<table class="form">
    <tr>
        <td>Path</td>
        <td>@Model?.Request?.Request?.Method @Model?.Request?.Request?.Path</td>
    </tr>
    <tr>
        <td>Started</td>
        <td>
            @if (Model.Request?.Started != null)
            {
                <span>@Model.Request?.Started.ToString("yyyy-MM-dd")</span><span class="text-muted">T</span><span>@Model.Request?.Started.ToString("HH:mm:ss")</span><span class="text-muted">@Model.Request?.Started.ToString("zzz")</span>
            }
        </td>
    </tr>
    <tr>
        <td>ExecutionTime</td>
        <td>
            @Model.Request?.ExecutionTime.ToHumanString()
        </td>
    </tr>

    <tr>
        <td>StatusCode</td>
        <td><div class="@((Model?.Request != null && Model.Request.IsError) ? "text-error" : "")">@Model?.Request?.Response.StatusCode</div></td>
    </tr>
    <tr>
        <td>MaxLogLevel</td>
        <td><div class="@("text-" + Model?.Request?.MaxLogLevel.ToString().ToLower())">@Model?.Request?.MaxLogLevel</div></td>
    </tr>
    <tr>
        <td>TraceIdentifier</td>
        <td>@Model?.TraceIdentifier</td>
    </tr>
</table>
}
else
{
    <div class="text-muted">Request not found.</div>
}

<h3>Logs</h3>
@if (Model.Request?.Logs != null && Model.Request.Logs.Count > 0)
{
    <table>
        <tbody>
            @foreach (var log in Model.Request.Logs)
            {
                <tr>
                    <td>
                        <div class="text-nowrap">
                            <a href="/debug/Log?Id=@(log.Id)">
                                <span>@log.Created.ToString("yyyy-MM-dd")</span><span class="text-muted">T</span><span>@log.Created.ToString("HH:mm:ss")</span><span class="text-muted">@log.Created.ToString("zzz")</span>
                            </a>
                        </div>
                        <div>@(log.IdentityName != null ? "@" + log.IdentityName : "")</div>
                    </td>
                    <td>
                        <div class="@("text-" + log.LogLevel.ToString().ToLower())">@log.LogLevel</div>
                        <div class="text-muted small" title="@log.LoggerName">
                            @log.LoggerName.Split('.').Last()
                        </div>
                    </td>
                    <td>
                        <pre>@log.Details</pre>
                        @if (log.IsEFExecutedDbCommand)
                        {
                            <a class="small visited" href="/debug/EntityFrameworkCoreRunSql?EFExecutedDbCommand=@System.Net.WebUtility.UrlEncode(log.Details)">Run SQL</a>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <div class="text-muted">No logs found.</div>
}

@if (Model.Request != null)
{
    @RenderPartialView("_Request", Model.Request)
}