@if (Model.Request?.Logs != null)
{
<div class="row">
    <div class="col-md-12">
        <h2 class="mt-5">Logs</h2>
        <table class="table-sm">
            <thead class="small">
                <tr>
                    <th>DateTime</th>
                    <th>LogLevel</th>
                    <th>Details</th>
                    <th>StackTrace</th>
                    <th>IdentityName</th>
                    <th>LoggerName</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var log in Model.Request.Logs)
                {
                <tr>
                    <td class="text-nowrap">@log.Created</td>
                    <td class="text-nowrap">@log.LogLevel</td>
                    <td class="text-nowrap">@log.Details</td>
                    <td class="text-nowrap">@log.StackTrace</td>
                    <td class="text-nowrap">@log.IdentityName</td>
                    <td class="text-nowrap">@log.LoggerName</td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>
}

@if (Model.Request != null)
{
    @RenderPartialView("_Request", Model.Request)
}