<h2>Routing</h2>

@if (Model.Routes != null)
{
    <table>
        <thead class="small">
            <tr>
                <td>Route Template</td>
                <td>Controller</td>
                <td>Action</td>
                <td>Constraints/Verbs</td>
                <td>Name</td>
            </tr>
        </thead>
        <tbody>
            @foreach (var route in Model.Routes)
            {

                <tr>
                    <td>@route.Template</td>
                    <td>@route.Controller</td>
                    <td>@route.Action</td>
                    <td>@route.Constraint</td>
                    <td>@route.Name</td>
                </tr>

            }
        </tbody>
    </table>
}
else
{
    <div>Sorry, cannot get service IActionDescriptorCollectionProvider, that provides routing information.</div>
}


